* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(66, 65, 65);
    padding: 20px;
    color: white;
    list-style: none;
}

.logo-photo {
    width: 120px;
}

.menus {
    display: flex;
}

.item {
    margin-right: 10px;
    padding-right: 7px;
    cursor: pointer;
}

.item:hover {
    color: blue;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    color: white;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner-img {
    width: 300px;
}

.title {
    font-size: 55px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 7px;
    color: white;
}

.about-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.about-title {
    text-align: center;
    padding: 20px;
}

.service-container {
    background-image: url(./images/background.png), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    color: white;
    padding: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.box-container {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 200px;
    height: 280px;
    box-shadow: gray 4px 2px 105px;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
}

.box-btn {
    background-color: gray;
    margin-top: 20px;
}

.box-title {
    padding: 10px;
}

.icon {
    width: 70px;
}

footer{
    background-color: rgb(20 19 19);
}

.footer-container{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    padding: 26px;
    color: white;
    list-style: none;
    line-height: 25px;
    border-bottom: 1px solid gray;
}

.box2 {
    width: 231px;
    color: white;
    padding: 4px;
    margin: 50px 0;
}

.useful {
    width: 143px;
}

.footer-title {
    margin-bottom: 26px;
}

.logo-2 {
    width: 170px;
}
.copy{
    color: white;
    text-align: center;
    padding: 26px 0;
}
